
.img-size-constrain{
	max-height: 30vw;
}
.divider-padding{
	margin-bottom: 10px;
	margin-top: -10px;
}
body {
	background-color: #dbdbdb;
}

.nav-color{
	background-color: #3f51e5;
}

p {
	text-align:center;
}

